@import "variables.scss";

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .gallery-view {
        columns: 5 200px;
        column-gap: 1.5rem;
        margin: 0 1.5rem;

        .gallery-item {
            margin-bottom: 1.5rem;
            display: inline-block;
            width: 100%;
            border: solid 2px rgba(0, 0, 0, 0.5);
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-radius: $border-radius;
            transition: all 0.25s ease-in-out;
            &:hover {
                border-color: $colored;
                img {
                    filter: grayscale(0);
                }
            }
            img {
                width: 100%;
                filter: grayscale(100%);
                border-radius: $border-radius;
                transition: all 1s ease-in-out;
            }
            label {
                display: block;
                margin: 5px 0;
                padding: 0;
                text-align: center;
            }
        }
    }
}
